* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: #232323;
}

#app {
    width: 500px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 17px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#balance-div {
    width: 476px;
    height: 190px;
    background-color: #F0F0F0;
    margin-top: 12px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
}

#balance-div div {
    color: #1D1D1D;
    font-weight: 500;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 12px;
    margin-right: 12px;
}

#money-in {
    color: #00B012;
}
#money-out {
    color: #FF0000;
}
#money-left {
    color: #000000;
    text-decoration: overline;
}
#menos {
    position: absolute;
    color: #000000;
    top: 60px;
    right: 735px;
}

#buttons-div {
    margin-top: 50px;
    display: flex;
    gap: 32px;
}

#buttons-div button {
    width: 222px;
    height: 103px;
    border-radius: 17px;
    border: none;
    box-shadow: 0 8px 5px #C7C7C7;
    background: #F0F0F0;
    color: #1D1D1D;
    font-size: 36px;
    font-weight: 500;
    transition: .2s;
    cursor: pointer;
}

#buttons-div button:hover {
    background: #DBDBDB;
    box-shadow: 0 8px 5px #B3B3B3;
}

#buttons-div button:active {
    transform: translateY(4px);
    box-shadow: 0 4px 5px #B3B3B3;
}